.onlineFriendList{
    margin: 0;
    padding: 0;
    list-style: none;

    .onlineFriend{
        display: flex;
        align-items: center;
        margin-bottom: 15px;

        .onlineFriendProfileImageContainer{
            margin-right: 10px;
            position: relative;

            .onlineFriendProfileImage{
                width: 45px;
                height: 45px;
                border-radius: 50%;
                object-fit: cover;
                cursor: pointer;
            }

            .activeIndicator{
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background-color: limegreen;
                position: absolute;
                top: -2px;
                right: 0;
                border: 2px solid white;
            }
            .online{
                background-color: limegreen !important;
            }
            .offline{
                background-color: red !important;
            }
        }

        .onlineUserName{
            font-weight: 500;
            cursor: pointer;
        }
    }
}