.feedContainer{
    flex: 6.5;

    .feedWrapper{
        padding: 20px;

        .timelineHeadtitle{

            .tt{
                font-size: 18px;
                font-weight: 500;
            }
        }
    }
}